@using day3.Homework.Models
@model Person



@using (Html.BeginForm("ChangeSide", "Home"))
{
    <button class="btn btn-default" type="submit" onclick="changeSide()">Join other side</button>

}
<script>
        function changeSide() {
            $("body").css('background', 'black');
        }
</script>