@using day3.Homework.Models
@model Person



@using (Html.BeginForm("ChangeSide", "Home"))
{
    <script>
            function changeSide() {
                $("body").css('background', 'black');
            }
    </script>
    <button class="btn btn-default" type="submit" onclick="changeSide()">Join other side</button>

}

