@using day3.Homework.Models
@model Person



@using (Html.BeginForm("ChangeSide", "Home"))
{
    if (Model.Type == TypePerson.Light)
    {
        <script>
            function changeSide() {
                $("body").css('background', 'black');
            }
        </script>
    }

    else
    {
        <script>
            function changeSide() {
                alert("Lol. There is no way out!");
            }
        </script>
    }
    <button class="btn btn-default" type="submit" onclick="changeSide()">Join other side</button>

}

