@using day3.Homework.Models
@model Person

@if(Model.Type == TypePerson.Dark)
{
    <h2 class="navbar navbar-inverse navbar-fixed-top" style="color:white">Dark</h2>
    <img class="navbar navbar-inverse navbar-fixed-top" src="~/Content/images/dark_logo.png" width="70", height="70" style="margin-left: 70px;" /><br>
}

else
{
    <h2 class="navbar navbar-inverse navbar-fixed-top" style="color:white">Light</h2>
    <img class="navbar navbar-inverse navbar-fixed-top" src="~/Content/images/light.jpg" width="70" , height="70" style="margin-left: 70px;" /><br>
}

