@using day3.Homework.Models
@model Person

@{
    ViewBag.Title = "PersonInfo";
}
@Html.Partial("_Header")
<h2>Name:</h2>@Model.Name;
<h2>Side:</h2>@Model.Type;

@if (Model.Type == TypePerson.Dark)
{
    @section scripts
{
        <script type="text/javascript">
        (function ($) {
            $("body").css('background', 'black');
        })(jQuery);
        </script>
    }
}
@Html.Partial("_JoinSide")



