
@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>An error occured while processing your request...</h1>
        <h2>Reload page or come back later</h2>
    </hgroup>
</body>
</html>

